

body {
    margin: 0;
    padding: 0;
    color: white;

}

/* ---- NAV ---- */

.nav-container {
    display: flex;
    justify-content: flex-end;
    background-color: #1F2937;
    
}
.nav-bar {
    display: flex;
    list-style-type: none;
}

.nav-items{
    margin-right: 2rem;
    
}

.nav-items:last-child {
    margin-right: 15rem;
}

.nav-items a{
    text-decoration: none;
    color: white;
}


/*  ---- HEADER LOGO ---- */
.logo {
    margin-left: 15rem;
    color: white;
    margin-right: auto;
    font-weight: bold;
}


/*  ---- FLEX-CONTAINER ---- */
.flex-container {
    display: flex;
    height: 300px;
    
}

.one {
    background-color: #1F2937;
}

/* ---- HERO ---- */
.hero {
    
    margin-left: 15rem;
    margin-top: 5rem;
    width: 400px;
}

.hero-title {
    font-weight: bolder;
}

/* ---- IMG ---- */
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15rem;
    width: 500px;
    height: 200px;
    border: solid 2px black;
    background-color: gray;
}

.two-title {
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 1rem;
    font-weight: bolder;
    font: size 36px;
    
}


.two {
    display: flex;
    
    gap: 20px;
    justify-content: center;
    background-color: white;

}

.box-container {
    display: flex;
    justify-content: center;


}

.box {
    width: 150px;
    height: 150px;
    border: solid 2px #3882f6;
    margin-top: 3rem;
    border-radius: 20px;

}

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 1rem;
    
}