

body {
    background-color: white;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Inter", san-s;

}

/* ---- NAV ---- */

.nav-container {
    display: flex;
    justify-content: flex-end;
    background-color: #1F2937;
    
}
.nav-bar {
    display: flex;
    list-style-type: none;
}

.nav-items{
    margin-right: 2rem;
    
}

.nav-items:last-child {
    margin-right: 33rem;
}

.nav-items a{
    text-decoration: none;
    color: white;
}


/*  ---- HEADER LOGO ---- */
.logo {
    margin-left: 15rem;
    color: white;
    margin-right: auto;
    font-weight: bold;
}


/*  ---- FLEX-CONTAINER ---- */
.flex-container {
    display: flex;
    height: 400px;
    
    
}

.one {
    background-color: #1F2937;
}

/* ---- HERO ---- */
.hero {
    
    margin-left: 15rem;
    width: 400px;
}

.hero-title {
    font-weight: bolder;
    margin-bottom: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.sign-up-button {
    display: flex;
    width: 100px;
    height: 30px;
    background-color: #3882f6;
    border-radius: 5px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    
}

.sign-up-button p {
    text-align: center;
}

/* ---- IMG ---- */
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15rem;
    width: 500px;
    height: 250px;
    border: solid 2px black;
    background-color: gray;
}

.two-title {
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 1rem;
    font-weight: bolder;
    font-size: 36px;
    
}


.two {
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: white;

}

.box-container {
    display: flex;
    justify-content: center;
    color: black;


}

.box {
    width: 150px;
    height: 150px;
    border: solid 3px #3882f6;
    margin-top: 3rem;
    border-radius: 20px;

}

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 1rem;
    
}

/* ---- FLEX CONTAINER THREE ---- */

.three {
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
   
}

.footer-container {
    color: #1F2937;
   
    
}

.footer-text {
    margin-top: 2rem;
    font-size: 36px;
    font-weight: light;

}

.footer-author {
    margin-left: 38rem;
    font-weight: bolder;
}

/* ---- DIV FOUR ---- */
.four {
    height: 50px;
}